h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

lightning-tree-item[aria-level="1"] {
    font-weight: bold;
}
lightning-tree-item[aria-level="2"] {
    font-style: italic;
}

.container {
    display: flex;
}
.column {
    margin-right: 40px;
}